<div class="container mt-4">
    <h2 class="text-center mb-4">Cancel Your Booking</h2>
    <form (ngSubmit)="submitdata()">
        <div class="mb-3">
            <label for="cancelId" class="form-label">Cancel ID</label>
            <input type="text" class="form-control" id="cancelID" name="cancelID" required [(ngModel)]="c.cancelid">
        </div>

        <div class="mb-3">
            <label for="userName" class="form-label">UserName</label>
            <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="c.username">
        </div>
       
        <div class="mb-3">
            <label for="cancelDate" class="form-label">Cancel Date</label>
            <input type="datetime-local" class="form-control" id="cancelDate" name="cancelDate" required [(ngModel)]="c.cancelDate">
        </div>
        <button type="submit" class="btn btn-danger">Cancel Booking</button>
    </form>

