

body {
    background-color: #f8f9fa;
}
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: #dbd3d6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(157, 17, 40, 0.2);
}
.navbar-nav {
    margin-left: auto;
}